# Creating DataFrames

## List of dictionaries

In [1]:
import pandas as pd

#### Create a list of dictionaries with the new data called avocados_list.

In [10]:
student_list=[
    { 'course':'Data Analyst', 'days':'TTS', 'name':'Iqra'},
    {'course':'Data Science', 'days':'MWF','name':'Qasim'},
    { 'course':'Data Analyst', 'days':'TTS', 'name':'ABC'},
    { 'course':'Science', 'days':'MWF', 'name':'CBA'},
    { 'course':'Computer', 'days':'TTS', 'name':'ADV'},
    { 'course':'Data Analyst', 'days':'MWF', 'name':'ALEX'},
    { 'course':'Education', 'days':'TTS', 'name':'ALLEN'},
    { 'course':'Data Analyst', 'days':'MWF', 'name':'Roxi'},
    { 'course':'Data Science', 'days':'TTS', 'name':'Fily'},
    { 'course':'Data Analyst', 'days':'MWF', 'name':'Danm'}
]

# Convert list into DataFrame

In [11]:
student_data = pd.DataFrame(student_list)

# Print the new DataFrame

In [12]:
print(student_data)

         course days   name
0  Data Analyst  TTS   Iqra
1  Data Science  MWF  Qasim
2  Data Analyst  TTS    ABC
3       Science  MWF    CBA
4      Computer  TTS    ADV
5  Data Analyst  MWF   ALEX
6     Education  TTS  ALLEN
7  Data Analyst  MWF   Roxi
8  Data Science  TTS   Fily
9  Data Analyst  MWF   Danm

***

# Dictionary of lists

In [16]:
sudent_dict = {
    'Name' : ['Iqra', 'Qasim' , 'Alix', 'Alen'],
    'ID' : [101, 102, 103, 104],
              
    'Days' : ['TTS', 'MWF', 'TTS', 'TTS']
}

In [17]:
data = pd.DataFrame(sudent_dict)

In [18]:
print(data)

    Name   ID Days
0   Iqra  101  TTS
1  Qasim  102  MWF
2   Alix  103  TTS
3   Alen  104  TTS